.container{
    padding: 0 1rem;
    overflow-x: hidden;
}

.content {
    max-width: 960px;
    margin: 0 auto;

    strong {
        font-weight: 600;
        display: inline-block;
        margin: 1rem 0 2rem 0;

        font-size: 1.13rem;

        cursor: pointer;

        color: var(--pink-500);

        transition: filter 0.1s;

        &:hover{
            filter: brightness(0.8);
        }

        
    }
}

